.aboutHeader {
    height: 320px;
    .backgroundImage(url('../img/about-bg.jpg'));
    .displayFlex(@direction: column, @align: flex-start, @justify: space-evenly);

    a {
        margin: 4% 10% 1% 10%;
        padding: 0;

        img {
            max-width: 100%;
        }
    }

    .rectangle1 {
        .fadedRectangle(446px);
        padding-top: 1%;
        padding-bottom: 1%;
    }

    h1 {
        font-size: 4.5rem;
    }
}

.aboutContent {
    p {
        font-size: 2rem;
    }

    .highlight {
        max-width: 400px;
        font-size: 3.5rem;
        line-height: 35px;
        font-weight: 900;
        letter-spacing: 7px;
        text-align: right;
        .crookedBackground(@plush-pink);
        &:after {
            border-radius: 5px;
        }
    }

    .container {
        .container();

        .aboutText {
            padding: 10% 20%;
            margin-bottom: 7%;
            text-align: center;
            line-height: 1.5;
            .displayFlex(@direction: column);
            .backgroundLayer(black, 80%);
            border-radius: 15px;            

            @media @mobile {
                margin-bottom: 100px;
                padding: 10% 10%;
            }

            h2 {
                margin-bottom: 20px;

                @media @mobile {
                    font-size: 4rem;
                }
            }

            p {
                .displayFlex(@direction: column);

                span {
                    margin-bottom: 20px;
                }
            }            

            div {
                width: 100%;
                .displayFlex(@justify: space-around);
                flex-wrap: wrap;

                @media @tablet {
                    * {
                        margin: 5% 0;
                    }
                }

                @media @mobile {
                    * {
                        margin: 10% 0;
                    }
                }


                .why {
                    font-family: @header-font;
                    font-size: 3.5rem;
                    letter-spacing: 7px;
                }
            }
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .teamSection {
            .displayFlex(@direction: column);
            flex-wrap: wrap;

            padding: 4%;
            margin: 4% 0;
            .backgroundLayer(black, 80%);
            border-radius: 15px;

            .sectionName {
                margin: 7% 0 2%;
                font-size: 3.8rem;
                letter-spacing: 4px;
                align-self: flex-start;

                .crookedBackground(@plush-pink);
            }
            .teamSectionContainer {
                .displayFlex();
                width: 100%;
                flex-wrap: wrap;
                .teamMember {
                    .displayFlex(@direction: column);
                    margin: 4% 6%;

                    @media @mobile {
                        margin: 10% 6%;
                    }

                    .profileImgContainer {
                        position: relative;
                        border-radius: 50%;
                        .profileImg {
                            width: 200px;
                            height: 200px;
                            border-radius: 50%;

                            &#carlosImg { .backgroundImage(url('../img/profiles/carlos-de-santiago.jpg')); }
                            &#claudiaImg { .backgroundImage(url('../img/profiles/claudia-chajon.jpg')); }
                            &#johnImg { .backgroundImage(url('../img/profiles/john-humenczuk.png')); }
                            &#jonathanImg { .backgroundImage(url('../img/profiles/jonathan-ross.jpg')); }
                            &#sarahImg { .backgroundImage(url('../img/profiles/sarah-xu.jpg')); }
                            &#shandaImg { .backgroundImage(url('../img/profiles/shanda-woods.png')); }
                            &#aaronImg { .backgroundImage(url('../img/profiles/aaron-merritt.jpg')); }
                            &#ramontaImg { .backgroundImage(url('../img/profiles/ramonta-lee.jpg')); }
                            &#rajImg { .backgroundImage(url('../img/profiles/raj-upadhyaya.jpg')); }
                            &#fabricioImg { .backgroundImage(url('../img/profiles/fabricio-bezerra.jpg')); }
                            &#genardImg { .backgroundImage(url('../img/profiles/genard-ivan-tejano.png')); }
                            
                            .afterFadedLayer(black, 25%);

                            &:after {
                                border-radius: 100%;
                                border: solid @whammy-white 1px;
                                opacity: 0;
                                transition-property: opacity;
                                transition-duration: 500ms;
                                transition-delay: 0;
                                
                            }
                        }

                        .memberLinksDesktop {
                            display: none;

                            // Center asolute objects
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);

                            a {
                                color: @whammy-white;
                                margin: 5px;

                                i { 
                                    transition-property: transform;
                                    transition-duration: 300ms;
                                }
                                

                                &:hover {
                                    i {
                                        transform: scale(1.2);
                                    }
                                }
                            }
                        }
   
                        &:hover {
                            .memberLinksDesktop {
                                display: block;
                            }

                            .profileImg {
                                &:after {
                                    opacity: 1;   
                                }
                            }
                        }

                    }                    
    
                    .memberName {
                        font-size: 2.5rem;
                        text-align: center;
                        padding: 10px 0;
                    }

                    .memberLinksTablet {
                        display: none;

                        @media @tablet {
                            display: inline;
                        }

                        a {
                            color: @whammy-white;
                            padding: 0 7px;
                        }
                    }
    
                    .description {
                        font-size: 1.8rem;

                        @media @tablet {
                            padding-bottom: 10px;
                        }
                    }
                    
                }
            }
            
        }

        .bottomSection {
            .displayFlex(@justify: space-between);
            flex-wrap: wrap;
            max-width: 800px;
            margin: auto;
            * {
                width: 47%;
                margin: 10% 0 0;

                @media @mobile {
                    width: 100%;
                }
            }
        }
    }
}