header {
    height: 100vh;
    background: url('../img/homepage-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    p {
        font-size: 3.6rem;
        font-family: @header-font;
    }
}