
body{
    .displayFlex();
    

h5{
    text-align: center;
}

.Bottom-Section{
    width: 55%;
    
    .displayFlex(@justify: space-between);
    flex-wrap: wrap; 
    .content{
        .displayFlex();
        width: 49%;
        height: 450px;
        flex-direction: column;
        border: solid white;
        padding: 0 7%;
        margin-bottom: 2%;
        p{
            background-color: royalblue;
            font-size: 3rem;
            text-align: center;
            margin: 1rem;
        }
        
    }
}

    




}   //end of body 