header {
    height: 100vh;
    background: url('../img/homepage-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .rectangle1 {
        width: 446px;
        // width: 33%;
        background: radial-gradient(196.56% 824.49% at 66.75% -23.66%, rgba(14, 11, 32, 0.36) 70.31%, rgba(239, 1, 159, 0.0825) 85.42%);
    }

    .rectangle2 {
        width: 556px;
        // width: 40%;
        background: radial-gradient(196.56% 824.49% at 66.75% -23.66%, rgba(14, 11, 32, 0.42) 70.31%, rgba(239, 1, 159, 0.0825) 85.42%);
        
        p {
            font-size: 3.6rem;
            font-family: @header-font;
        }
    }

}