// Fonts
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@header-font: 'Abril Fatface', cursive;
@button-font: 'Muli', sans-serif;
@paragraph-font: 'Montserrat', sans-serif;

// Colors: 
// Primary Color
@cool-blue: #171330;
// Accent Color
@plush-pink: #EF019F;
@popstar-purple: #780150;
// Main Text
@whammy-white: #FFFFFF;
@warm-blue: #959AB1;

// Mobile
@phone: ~'(max-width: 500px)';
// Tablet
@tablet: ~'(max-width: 800px)';
// Small desktop
@small-desktop: ~'(max-width: 1000px)';