
// Fonts 
@header-font: 'Abril Fatface', cursive;





// Colors 
@Cool-Blue: #171330;
@Popstar-Purple: #780150;
@Plush-Pink: #EF019F; 
@Popstar-Purple: #780150;
@Whammy-White: #FFFFFF;
@Warm-Blue: #959AB1;

